body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Poppins', sans-serif; */
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-wrap {
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height: 70px;
}
.header {
  display: flex;
  /* margin-right: auto; */
  padding: 1.3em 0 0 2em;
}
.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section img {
  padding-top: 2em;
  width: 50%;
  object-fit: cover;
}
.hero-section h1{
  /* font-family: 'Poppins', sans-serif; */
  /* font-style: normal;
  font-weight: 600; */
  font-size: 2.7em;
  line-height: 110%;
  align-items: flex-start;
  padding-left: 7.5em;
  /* margin: 0; */
}
.hero-section p {
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 110%;
  color: #222222;
  padding-left:17em;
  width: 62ch;
}
.card-wrap {
  /* margin-left: 20em; */
  color: #222222;
  /* width: 175px; */
  /* flex: 0 0 auto;
  display: flex;
  flex-direction: column; */
  
  
  /* grid-template-columns: repeat(3,1fr); */
}

.star {
  width: 16px;
}
.img-wrap {
  /* width: 100%; */
  position: relative;
}
.cover-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 9px;
}
.img-wrap button {
  position: absolute;
  left: 4%;
  top: 4%;
  background-color: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 6px 4px;
  font-weight: bold;
}
.text-wrap {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}
.usa {
  color: #918E9B;
}
.zef {
  margin-top: 1px;
}